 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <br><br><br>
<form  #f1="ngForm" (ngSubmit)="onclick3(f1)">

<label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" class="form-control" [(ngModel)]="user" name="username" #username="ngModel" required >
<label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" class="form-control" [(ngModel)]="pass" name="password" #password="ngModel" required>
<br><br><button (click)="onclick3()"class="btn btn-primary"  >submit</button>

</form>
<br><br>
<button (click)="onclick6()"class="btn btn-primary"  >search comics</button>